<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DestinationPlanner</title>
    <script src="distanceApp.js"></script>
</head>
<body>
<h3 style="alignment: center">DestinationPlanner.com</h3>
<h3>Distance Calculator</h3>
<br>
<div style="alignment: center">
    <form>
        <input id="email" type="email" placeholder="email" required autofocus>
        <br><br>
        <input id="password" type="password" placeholder="password" required>
        <br><br>
        <input type="button" value="Login" onclick="validateLogin();">

    </form>
</div>

<br>
<p>Use email admin@gmail.com && pass: admin</p>
</body>
</html>